# 忽略 Unreal Engine 的临时文件
DerivedDataCache/
Intermediate/
Saved/
Binaries/

# 忽略本地用户数据
Data/

# 忽略 Visual Studio 的配置文件
.vs/
.vscode/
.vsconfig
DronePath3D.sln

# 忽略大文件
*.pdb
*.dll
*.obj
*.exe

# 忽略 Unreal Engine 编译时生成的日志文件
*.log
*.db
*.suo
*.user

# 忽略配置文件
DefaultGame.ini
